<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zz.delicious.dao.OrderdetailMapper">
  <resultMap id="BaseResultMap" type="com.zz.delicious.entity.Orderdetail">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="goodsid" jdbcType="INTEGER" property="goodsid" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="orderid" jdbcType="INTEGER" property="orderid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, goodsid, num, orderid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_orderdetail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_orderdetail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zz.delicious.entity.Orderdetail">
    insert into t_orderdetail (goodsid, num,
      orderid)
    values (#{goodsid,jdbcType=INTEGER}, #{num,jdbcType=INTEGER},
      #{orderid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zz.delicious.entity.Orderdetail">
    insert into t_orderdetail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="goodsid != null">
        goodsid,
      </if>
      <if test="num != null">
        num,
      </if>
      <if test="orderid != null">
        orderid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="goodsid != null">
        #{goodsid,jdbcType=INTEGER},
      </if>
      <if test="num != null">
        #{num,jdbcType=INTEGER},
      </if>
      <if test="orderid != null">
        #{orderid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zz.delicious.entity.Orderdetail">
    update t_orderdetail
    <set>
      <if test="goodsid != null">
        goodsid = #{goodsid,jdbcType=INTEGER},
      </if>
      <if test="num != null">
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="orderid != null">
        orderid = #{orderid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zz.delicious.entity.Orderdetail">
    update t_orderdetail
    set goodsid = #{goodsid,jdbcType=INTEGER},
      num = #{num,jdbcType=INTEGER},
      orderid = #{orderid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>